@model StockManagementSystem.Data.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="text-center">
        <h1>
            Stock Management System
        </h1>
        <a class="btn btn-primary btn-lg" asp-controller="Batches" asp-action="Index">Batches</a>
        <canvas id="stocksChart"></canvas>
    </div>
</div>

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <script>
        var ctx = document.getElementById('stocksChart').getContext('2d');
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'bar',

            // The data for our dataset
            data: {
                labels: @Html.Raw(Json.Serialize(Model.stockViewModels.Select(m=> $"{m.Fruit} + {m.Variety}"))),
                datasets: [
                    {
                        label: 'Quantity',
                        backgroundColor: 'rgb(255, 99, 132)',
                        borderColor: 'rgb(255, 99, 132)',
                        data: @Html.Raw(Json.Serialize(Model.stockViewModels.Select(m => m.Quantity)))
                    },
                ]
            },

            // Configuration options go here
            options: {}
        });
    </script>
}
